* {
    font-family: verdana;
    /*box-sizing: border-box;*/
    text-align: center;
    font-size: 3vw;
}

header , footer {

  background-color: white;
  text-align: center;

}

#header-img {
  border-radius: 50%;
  border: 1px solid black;
}

.myaddress {
  display: block;
  font-style: italic;
}
ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  color: #333;
}

li{
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
img
{
    border: 5px solid black;
    border-radius: 10px;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;

}
a {
  text-decoration: none;
}
hr {
  border: 3px solid black;
}

abbr {
  text-decoration: none;
}
